#logo {
	float: left;
}

body {
	text-align: center;
	background-color: AntiqueWhite;
}

a:link {
    text-decoration: none;
    color: black;
  }

  a:visited {
    text-decoration: none;
    color: black;
  }

  a:hover {
    text-decoration: underline;
    color: white;
  }

table {
	margin-left: auto;
	margin-right: auto;
}

.links {
	background-color: CornflowerBlue;
	width: 25%;
}

.cT {
	border: 3px solid CornflowerBlue;
	border-collapse: collapse;
}

.cT td {
	border: 3px solid CornflowerBlue;
}

.cTN {
	border: 3px solid CornflowerBlue;
	width: 25%;
}

.c {
	background-color: white;
}

.cBelow {
	background-color: CornflowerBlue;
}

.expire {
	background-color: CornflowerBlue;
	text-align: left;
}

.e0 {
	padding-right: 79px;
}

.e1 {

}

.e2 {
	padding-right: 79px;
}

img {
	width: 25%;
}

#pageHead {
	text-align: center;
}

h2 {
	text-align: center;
}

#currInfo {
	text-align: left;
}

table,
		th,
		td {

			margin-left: auto;
			margin-right: auto;
			table-layout: fixed;
			text-align: center;
			
		}